---
layout: metro_layout
title: Posts List
---

<div class="page " >
	<div class="page-header">
        <div class="page-header-content">
            <h1> {{ page.title }} <small>Home</small></h1>   
        </div>
    </div>
	<div class="page-region">
		<div class="page-region-content">       	
			<div class="listview-outlook" data-role="listview">
				{% for category in site.categories %} 
		    		<div class="list-group ">
		        		<a href="" class="group-title">{{ category[0] | join: "/" }}</a>
		        		<div class="group-content">
			        		{% for post in category[1] limit 10 %}
			        			<a class="list" href="{{site.baseurl}}{{ post.url }}">
                                    <div class="list-content">
                                        <span class="list-title">{{ post.title }}</span>
                                        <span class="list-subtitle">{{ post.date | date_to_string }}</span>
                                        <span class="list-remark">{{ post.summary }}</span>
                                    </div>
                                </a>
				        	{% endfor %}
			        	</div>
		    		</div>
		    	{% endfor %}
			</div>
      	</div>
    </div>
</ul>
</div>
<script src="{{ site.baseurl }}/include/metro/js/metro/metro-listview.js"></script>
